<div class="sub-header">
    <div class="title">
        <h1>Fase teste prático Front_end</h1>
        <h3>Pokebusca</h3>
    </div>
    <app-search-bar (emmitSearch)="search($event);"></app-search-bar>
</div>

<div class="numbers-displayed">
    <p>Exibindo {{pokemonsPerPage}} de {{totalPokemons}} itens</p>
</div>

<div class="pokemon-grid">
    <div class="card" *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 5, currentPage: page,totalItems:totalPokemons }">
        <div class="pokeImage">
            <img src="{{pokemon.sprites.front_default}}" alt="Pokemon">
        </div>

        <div class="pokeText">
            <h3>{{pokemon.name}}</h3>
            <p class="type">Type:<b> {{pokemon.types[0].type.name}}</b> </p>
            <p>Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.</p>
        </div>

    </div>
</div>

<div class="page-controls">
    <pagination-controls (pageChange)= "page = $event; pokemons =[]; getPokemons()" ></pagination-controls>
</div>


